nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;

    h3 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 0;
    }

    li {
        display: inline-block;
        padding-right: 0.5rem;

        a {
            color: #333333;
            font-size: 1rem;
            text-decoration: none;

            &:hover {
                color: #888888;
                text-decoration: underline;
            }
        }

        &:last-child {
            padding-right: 0;
        }
    }

    input {
        border-radius: 10px;

    }
}

.linea_separadora {
    border: solid 1px #333333;
}